#buscar {
    position: relative;
    
}
@media (max-width: 768px) {
    #buscar,
    #buscar input {
        width: 100%;
    }
    .footer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 5vh;
        text-align: center;
    }
}

#resultado {
    position: absolute;
    left:0;
    top:100%;
    z-index: 100;
    width:100%;
}